* {
    font-family:Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}
h1{
    text-transform: capitalize;
    text-decoration: wavy;
    text-align: center;
}

h3{
    color:rgb(243, 9, 48);
}
button{
    color:blue;
    background-color: orangered;
}
body{
    text-align: none;
    background-color: gray;
}
#one{
    color:aqua;
}
.myclass{
    color:rgb(61, 3, 3);
}
#myid{
    text-align: center;
    background-color: aqua;
    color: crimson;
    width: 50px;
    height: 50px;
    border : 4px solid black;
    border-radius : 50%;
    padding: 30px 30px 30px 30px;
    margin: auto;
    
}
h4,h3{
    color:blueviolet;
    text-align: center;
    text-transform: capitalize;
    
}
div{
    text-align: none;
}
#trafic {
    width: 200px;
    height: 600px;
    background-color: black;
    margin:auto;
    padding-top:20px;
    line-height : 2px;
}

#red{
    height: 150px;
    width: 150px;
    background-color: red;
    border-radius:50%;
    margin: auto;
}
#yellow{
    height: 150px;
    width: 150px;
    background-color: yellow;
    border-radius:50%;
    margin: auto;
    top:20px;

}

#green{
    height: 150px;
    width: 150px;
    background-color: green;
    border-radius:50%;
    margin: auto;
}


#home{
    background-color: #0f1111;
    height: 60px;
    
    color: aliceblue;
}
#logo{
    color:rgb(231, 192, 14) ;
    font-size: 25px;
    

}
a{
    margin-right: 200px;
    text-decoration: none;
}





#div{

    background-color: rgb(160, 90, 90);
    width: 100px;
    height: 100px;
    margin: 25px;
    padding: 25px;    
    display: inline-block;
}
#b{
    background-color: blue;width: 100px;
    height: 100px;
    margin: 25px;
    padding: 25px;    
    display: inline-block;
}
#c{
    background-color: green;width: 100px;
    height: 100px;
    margin: 25px;
    padding: 25px;    
    display: inline-block;
}
#d{
    background-color: yellow;width: 100px;
    height: 100px;
    margin: 25px;
    padding: 25px;    
    display: inline-block;
}
#hh1{
    display: block;
    color: rgba(255,222,1,0.5);
}
#hh2{
    text-align: center;
    display: inline;
    color: rgba(255,222,1,0.75);
}